Jobs/WebCrawlHelper/GeneralDailyDownload/Web References/CasperjsWebService/DownloadPageAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodingName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataStream">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encodingName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataStreamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataStreamResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTextByCasperjs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scriptName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paraStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTextByCasperjsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTextByCasperjsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataTextSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataText" />
  </wsdl:message>
  <wsdl:message name="GetDataTextSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataTextResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataStreamSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataStream" />
  </wsdl:message>
  <wsdl:message name="GetDataStreamSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataStreamResponse" />
  </wsdl:message>
  <wsdl:message name="GetTextByCasperjsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTextByCasperjs" />
  </wsdl:message>
  <wsdl:message name="GetTextByCasperjsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTextByCasperjsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataTextHttpGetIn">
    <wsdl:part name="url" type="s:string" />
    <wsdl:part name="encodingName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataTextHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataStreamHttpGetIn">
    <wsdl:part name="url" type="s:string" />
    <wsdl:part name="encodingName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataStreamHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetTextByCasperjsHttpGetIn">
    <wsdl:part name="projectName" type="s:string" />
    <wsdl:part name="scriptName" type="s:string" />
    <wsdl:part name="paraStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTextByCasperjsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataTextHttpPostIn">
    <wsdl:part name="url" type="s:string" />
    <wsdl:part name="encodingName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataTextHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataStreamHttpPostIn">
    <wsdl:part name="url" type="s:string" />
    <wsdl:part name="encodingName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataStreamHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetTextByCasperjsHttpPostIn">
    <wsdl:part name="projectName" type="s:string" />
    <wsdl:part name="scriptName" type="s:string" />
    <wsdl:part name="paraStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTextByCasperjsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DownloadPageAPISoap">
    <wsdl:operation name="GetDataText">
      <wsdl:input message="tns:GetDataTextSoapIn" />
      <wsdl:output message="tns:GetDataTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataStream">
      <wsdl:input message="tns:GetDataStreamSoapIn" />
      <wsdl:output message="tns:GetDataStreamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTextByCasperjs">
      <wsdl:input message="tns:GetTextByCasperjsSoapIn" />
      <wsdl:output message="tns:GetTextByCasperjsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DownloadPageAPIHttpGet">
    <wsdl:operation name="GetDataText">
      <wsdl:input message="tns:GetDataTextHttpGetIn" />
      <wsdl:output message="tns:GetDataTextHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataStream">
      <wsdl:input message="tns:GetDataStreamHttpGetIn" />
      <wsdl:output message="tns:GetDataStreamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTextByCasperjs">
      <wsdl:input message="tns:GetTextByCasperjsHttpGetIn" />
      <wsdl:output message="tns:GetTextByCasperjsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DownloadPageAPIHttpPost">
    <wsdl:operation name="GetDataText">
      <wsdl:input message="tns:GetDataTextHttpPostIn" />
      <wsdl:output message="tns:GetDataTextHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataStream">
      <wsdl:input message="tns:GetDataStreamHttpPostIn" />
      <wsdl:output message="tns:GetDataStreamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTextByCasperjs">
      <wsdl:input message="tns:GetTextByCasperjsHttpPostIn" />
      <wsdl:output message="tns:GetTextByCasperjsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DownloadPageAPISoap" type="tns:DownloadPageAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataText">
      <soap:operation soapAction="http://tempuri.org/GetDataText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataStream">
      <soap:operation soapAction="http://tempuri.org/GetDataStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextByCasperjs">
      <soap:operation soapAction="http://tempuri.org/GetTextByCasperjs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DownloadPageAPISoap12" type="tns:DownloadPageAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataText">
      <soap12:operation soapAction="http://tempuri.org/GetDataText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataStream">
      <soap12:operation soapAction="http://tempuri.org/GetDataStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextByCasperjs">
      <soap12:operation soapAction="http://tempuri.org/GetTextByCasperjs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DownloadPageAPIHttpGet" type="tns:DownloadPageAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDataText">
      <http:operation location="/GetDataText" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataStream">
      <http:operation location="/GetDataStream" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextByCasperjs">
      <http:operation location="/GetTextByCasperjs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DownloadPageAPIHttpPost" type="tns:DownloadPageAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDataText">
      <http:operation location="/GetDataText" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataStream">
      <http:operation location="/GetDataStream" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextByCasperjs">
      <http:operation location="/GetTextByCasperjs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DownloadPageAPI">
    <wsdl:port name="DownloadPageAPISoap" binding="tns:DownloadPageAPISoap">
      <soap:address location="http://mshkrm01/downloadpageservice/DownloadPageAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="DownloadPageAPISoap12" binding="tns:DownloadPageAPISoap12">
      <soap12:address location="http://mshkrm01/downloadpageservice/DownloadPageAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="DownloadPageAPIHttpGet" binding="tns:DownloadPageAPIHttpGet">
      <http:address location="http://mshkrm01/downloadpageservice/DownloadPageAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="DownloadPageAPIHttpPost" binding="tns:DownloadPageAPIHttpPost">
      <http:address location="http://mshkrm01/downloadpageservice/DownloadPageAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>